<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1>Hello Universe</h1>
    <h5>Nama : <%= nama %></h5>
    <h3>Woyy <%= nama %></h3>
    
</body>
</html>